{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}
{% block title %}
    预处理结果｜后台管理系统
{% endblock %}
{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">无人机项目管理系统</a></h1>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a>结果展示</a>
</div>
{% endblock %}

{% block content %}
    {% if singleIdentifyImages%}
        <h1>请查看识别结果</h1>
        {% for singleIdentifyImage in singleIdentifyImages %}
        <table><tr>
            <td>
                <h1>识别结果</h1>
                <img width="600px" src="{{ singleIdentifyImage.icon_identifyUrl }}" alt="{{ singlePreprocessImage.singleImageName }}" border=0></td>
        </tr></table>
        <form action="{% url 'onlineTask:identifyConfirm' userId=singleIdentifyImage.userId singleImageIdentifyId=singleIdentifyImage.singleImageIdentifyId %}" method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            <input type="submit" value="上一张" name="predict_pre">
            <input type="submit" value="下一张" name="predict_next">
            <input type="submit" value="接受" name="predict_confirm">
            <input type="submit" value="拒绝" name="predict_cancel">
            <input type="submit" value="是否飞回勘察" name="fly_back">
        </form>
        {% endfor %}
    {% else %}
        {% for singleIdentifyhint in singleIdentifyhints %}
            {% if singleIdentifyhint.isNext is None or singleIdentifyhint.isNext %}
                {% if singleIdentifyhint.userStatus == 'd'%}
                    <h1>已完成识别任务,点击查看上一张</h1>
                    <form action="{% url 'onlineTask:identifyConfirm' userId=singleIdentifyhint.userId singleImageIdentifyId=singleIdentifyhint.singleImageIdentifyId%}" method="post" enctype="multipart/form-data" >
                        {% csrf_token %}
                        <input type="submit" value="上一张" name="predict_pre">
                    </form>
                {% else %}
                    <h1>识别任务正在进行中...</h1>
                    {% if singlePreprocesshint.isNext %}
                        <form action="{% url 'onlineTask:identifyConfirm' userId=singleIdentifyhint.userId singleImageIdentifyId=singleIdentifyhint.singleImageIdentifyId%}" method="post" enctype="multipart/form-data" >
                            {% csrf_token %}
                            <input type="submit" value="上一张" name="predict_pre">
                        </form>
                    {% endif %}
                {% endif %}
            {% else %}
                <h1>请点击下一张查看</h1>
                <form action="{% url 'onlineTask:identifyConfirm' userId=singleIdentifyhint.userId singleImageIdentifyId=singleIdentifyhint.singleImageIdentifyId%}" method="post" enctype="multipart/form-data" >
                    {% csrf_token %}
                    <input type="submit" value="下一张" name="predict_next">
                </form>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

