{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}
{% block title %}
    拼接结果｜后台管理系统
{% endblock %}
{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">无人机项目管理系统</a></h1>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a>结果展示</a>
</div>
{% endblock %}

{% block content %}
    {% if singleSpliceImages%}
        <h1>请查看拼接结果</h1>
        {% for singleSpliceImage in singleSpliceImages %}
            {% if singleSpliceImage.icon_spliceUrl%}
                <table><tr>
                <td>
                    <img width="1000px" height="800px" src="{{ singleSpliceImage.icon_spliceUrl }}" alt="{{ singleSpliceImage.singleImageName }}" border=0></td>
                </tr></table>
            {% else %}
                <h1>正在进行离线识别任务，请稍后...</h1>
            {% endif %}
        {% endfor %}
    {% else %}
        <h1>正在进行离线识别任务，请稍后...</h1>
    {% endif %}
{% endblock %}

